---
---

@import "{{ site.theme }}";
header h1 {
  with: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 48px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

header h2 {
  with: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}
